!.gitignore
**/__pycache__/
**/*.py[cod]
**/*.so
**/*.egg
**/*.egg-info/
dist/
build/
*.pyc
*.pyo
*.pyd
*.env
*.venv
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
/media/images/*
!/media/images/.gitignore
/media/ml_output/*
!/media/ml_output/.gitignore
